@use "variables";

/* .Container_Skills {
  display: flex;
  justify-content: space-evenly;

  .SkillList {
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 300px;

    border: black solid 1px;
    border-radius: 15px;

    text-align: center;
  }
} */

#Certification {
  padding: 0px 40px;
  display: flex;
  flex-direction: column;

  background-color: variables.$color-vscode-bg;

  h2 {
    margin-bottom: 60px;
    color: white;
    font-size: 42px;
    font-weight: 400;
    text-decoration: underline;
  }

  .Container_Certification {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 60px;

    border-top: 1px solid orange;
    /* border-bottom: 1px groove orange; */

    .Certification_Data {
      display: flex;
      flex-direction: column;
      gap: 20px;

      color: white;

      .Certification_Name {
        font-size: 38px;
        font-weight: 500;
      }

      .Certification_Inst {
        font-size: 24px;
        font-style: italic;
        font-weight: bold;
      }

      .Certification_Date {
        font-style: italic;
        font-size: 18px;
        color: orange;
      }

      .Certification_Description {
        font-size: 18px;
        line-height: 1.4;
      }

      .Certification_Link {
        padding-top: 40px;

        a {
          text-decoration: none;
          font-style: normal;
          color: orange;
          font-size: 20px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .Certification_Separator {
      min-width: 1px;
      background-color: gray;
    }

    .Certification_Img {
      img {
        width: 47vw;
        border: 4px ridge orange;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 32px 0 rgba(0, 0, 0, 0.25);
      }
    }
  }
}

#Contact {
  width: 100%;
  height: 100vh;
  padding: 0px 100px;

  display: flex;
  align-items: center;

  .Container_Contact {
    padding: 30px;

    display: flex;
    gap: 40px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 32px 0 rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    background-color: variables.$color-vscode-bg;

    .Container_ContactInfo {
      width: 50%;

      display: flex;
      flex-direction: column;
      gap: 40px;

      color: white;

      h2 {
        font-size: 40px;
        color: orange;
      }

      p {
        font-size: 18px;
        line-height: 1.5;
      }
    }

    .Vertical_Divisor {
      width: 2px;

      background-color: rgb(56, 56, 56);
    }

    .Container_Form {
      width: 50%;

      display: flex;
      flex-direction: column;
      border-radius: 15px;

      color: white;

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        input,
        textarea {
          border-style: none;
          border-radius: 12px;

          background-color: rgb(56, 56, 56);
          color: white;

          &:focus {
            outline: none;
          }
        }

        .FormData {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 20px;

          div {
            width: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;

            label,
            input {
              font-size: 18px;
            }

            input {
              padding: 5px 10px;
              width: 400px;
            }
          }
        }

        .FormMessage {
          width: 100%;

          display: flex;
          flex-direction: column;
          gap: 8px;

          label,
          textarea {
            font-size: 18px;
          }

          textarea {
            width: 100%;
            height: 300px;
            padding: 10px;

            resize: none;

            font-family: variables.$font-base;
          }
        }

        .FormButton {
          padding: 10px 50px;

          font-size: 20px;
          background-color: orange;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

#Skills {
  width: 100%;
  height: 100vh;

  padding: 40px 100px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: variables.$color-bg-lightgray;

  h2 {
    font-size: 48px;
    color: variables.$color-vscode-bg;
    text-decoration: underline;
  }

  .Container_Skills {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    align-items: center;

    h3 {
      font-size: 30px;
      color: rgb(88, 88, 88);
    }

    .Skills_Separator {
      min-width: 2px;
      height: 100%;
      background-color: rgb(170, 170, 170);
    }

    .Frontend_Skills,
    .Backend_Skills {
      display: flex;
      gap: 20px;
    }

    .Skill_Card {
      padding: 20px;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 10px;

      background-color: white;
      border-radius: 15px;

      box-shadow:
        inset 0 8px 24px 0 rgba(0, 0, 0, 0.40);

      .Skill_Img {
        min-height: 150px;

        display: flex;
        align-items: center;

        img {
          width: 150px;
        }
      }

      .Skill_Card_Separator {
        width: 100%;
        height: 1px;

        background-color: grey;
      }

      span {
        display: block;
        text-align: center;

        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}